server {

    listen 4443 ssl http2;
    listen [::]:4443 ssl http2;

{% for ld in letsencrypt_domains %}
{% if nextcloud_domains[0] in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

    server_name {{ nextcloud_domains[0] }};

    root /usr/share/coolwsd;

    include /etc/nginx/snippets/coolwsd.conf;
}

