server {

    listen 4080;
    listen [::]:4080;
    server_name {{ nextcloud_domains[0] }};

    root /var/www/onlyoffice/documentserver;

    include /etc/nginx/includes/ds-*.conf;
}

server {

    listen 4443 ssl http2;
    listen [::]:4443 ssl http2;

{% for ld in letsencrypt_domains %}
{% if nextcloud_domains[0] in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

    server_name {{ nextcloud_domains[0] }};

    root /var/www/onlyoffice/documentserver;

    include /etc/nginx/includes/ds-*.conf;
}

