{
  "services": {
    "CoAuthoring": {
      "sql": {
        "dbHost": "localhost",
        "dbName": "{{ documentserver_db_name }}",
        "dbUser": "{{ documentserver_db_user_name }}",
        "dbPass": "{{ documentserver_db_user_password }}",
        "type": "postgres",
        "dbPort": "5432"
      },
      "redis": {
        "host": "{{ redis_server_host }}",
        "port": "{{ redis_server_port }}",
        "password": "{{ redis_password }}"
      },
      "token": {
        "enable": {
          "request": {
            "inbox": {{ 'true' if onlyoffice_secret is defined else 'false' }},
            "outbox": {{ 'true' if onlyoffice_secret is defined else 'false' }}
          },
          "browser": {{ 'true' if onlyoffice_secret is defined else 'false' }}
        },
        "inbox": {
          "header": "Authorization"
        },
        "outbox": {
          "header": "Authorization"
        }
      },
      "secret": {
        "inbox": {
          "string": "{{ onlyoffice_secret|d() }}"
        },
        "outbox": {
          "string": "{{ onlyoffice_secret|d() }}"
        },
        "session": {
          "string": "{{ onlyoffice_secret|d() }}"
        }
      }
    }
  },
  "rabbitmq": {
    "url": "amqp://guest:guest@localhost/"
  }
}
