#!/bin/sh

set -e
set -u

if [ ! -w /backups/`date -I`/postgresql ]; then
    mkdir -p /backups/`date -I`/postgresql
    chmod 770 /backups/`date -I`/postgresql
fi

PGPASSWORD="{{ postgresql_nextcloud_user_password }}" pg_dump -Fc nextcloud_db -h localhost --user=nextcloud_user -f /backups/`date -I`/postgresql/nextcloud-database_`date -I`.dump

