<?php
$CONFIG = array (
  'trusted_domains' => 
  array (
    0 => 'localhost',
{% for i in range (nextcloud_domains | count) %}
    {{ i+1 }} => '{{ nextcloud_domains[i-1] }}',
{% endfor %}
  ),
  'datadirectory' => '{{ nextcloud_data_dir }}',
  'overwrite.cli.url' => '{{ nextcloud_overwrite_cli_url }}',
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'redis' => 
  array (
    'password' => '{{ redis_password }}',
    'host' => '/var/run/redis/redis.sock',
    'port' => 0,
    'timeout' => 0.0,
  ),
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'loglevel' => 3,
  'log_type' => 'syslog',
  'syslog_tag' => 'nextcloud',
  'skeletondirectory' => '{{ nextcloud_skeleton_dir }}',
  'trashbin_retention_obligation' => 'auto, 30',
  'upgrade.disable-web' => {{ nextcloud_disable_web_upgrade }},
  'app_install_overwrite' =>
  array (
      0 => 'apporder',
      1 => 'deck',
      2 => 'integration_whiteboard',
      3 => 'mail',
      4 => 'polls',
      5 => 'richdocuments',
      6 => 'tasks',
      7 => 'twofactor_totp',
      8 => 'twofactor_u2f',
    ),
  );
